In [1]:
import pandas as pd
import numpy as np

In [37]:
chronos_base_path = "results/chronos/chronos_bolt_base_results.csv"
chronos_small_path = "results/chronos/chronos_bolt_small_results.csv"
chronos_mini_path = "results/chronos/chronos_bolt_mini_results.csv"
chronos_tiny_path = "results/chronos/chronos_bolt_tiny_results.csv"

timesfm1_path = "results/timesfm/timesfm1_results.csv"
timesfm2_path = "results/timesfm/timesfm2_results.csv"

In [38]:
def path_to_df(path):
    df = pd.read_csv(path)
    df = df[["dataset", "domain", "num_variates", "model",
        "eval_metrics/MASE[0.5]", "eval_metrics/mean_weighted_sum_quantile_loss"]]
    df = df.rename(columns={"eval_metrics/MASE[0.5]": "MASE"})
    df = df.rename(columns={"eval_metrics/mean_weighted_sum_quantile_loss": "Qloss"})
    return df

In [39]:
chronos_base_df = path_to_df(chronos_base_path)
chronos_base_df.head()

,dataset,domain,num_variates,model,MASE,Qloss
0,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_base,5.533290,0.053958
1,bizitobs_application/10S/medium,Web/CloudOps,2,chronos_bolt_base,9.720338,0.103502
2,bizitobs_application/10S/long,Web/CloudOps,2,chronos_bolt_base,10.483795,0.108976
3,bizitobs_l2c/5T/short,Web/CloudOps,7,chronos_bolt_base,0.278185,0.074353
4,bizitobs_l2c/5T/medium,Web/CloudOps,7,chronos_bolt_base,0.877710,0.445441

In [40]:
chronos_small_df = path_to_df(chronos_small_path)
chronos_mini_df = path_to_df(chronos_mini_path)
chronos_tiny_df = path_to_df(chronos_tiny_path)

timesfm1_df = path_to_df(timesfm1_path)
timesfm2_df = path_to_df(timesfm2_path)

In [41]:
# dataset with Mase
all_df = pd.concat([chronos_base_df, chronos_small_df, chronos_mini_df, chronos_tiny_df,
    timesfm1_df, timesfm2_df], ignore_index=True)

all_df["MASE"] = pd.to_numeric(all_df["MASE"], errors="coerce")
all_df["rank_MASE"] = all_df.groupby(["dataset"])["MASE"].rank(method="min")

all_df["Qloss"] = pd.to_numeric(all_df["Qloss"], errors="coerce")
all_df["rank_Qloss"] = all_df.groupby(["dataset"])["Qloss"].rank(method="min")

all_df["Rank"] = all_df["rank_MASE"] + all_df["rank_Qloss"] / 2

all_df = all_df[all_df["dataset"] != "dataset"]

all_df

,dataset,domain,num_variates,model,MASE,Qloss,rank_MASE,rank_Qloss,Rank
0,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_base,5.533290,0.053958,3.0,3.0,4.5
1,bizitobs_application/10S/medium,Web/CloudOps,2,chronos_bolt_base,9.720338,0.103502,3.0,3.0,4.5
2,bizitobs_application/10S/long,Web/CloudOps,2,chronos_bolt_base,10.483795,0.108976,3.0,3.0,4.5
3,bizitobs_l2c/5T/short,Web/CloudOps,7,chronos_bolt_base,0.278185,0.074353,3.0,3.0,4.5
4,bizitobs_l2c/5T/medium,Web/CloudOps,7,chronos_bolt_base,0.877710,0.445441,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...
205,jena_weather/H/long,Nature,21,timesfm2,1.056757,0.068474,2.0,5.0,4.5
206,solar/10T/long,Energy,1,timesfm2,1.148564,0.498298,2.0,4.0,4.0
207,solar/H/long,Energy,1,timesfm2,1.266107,0.493456,5.0,5.0,7.5
208,bizitobs_application/10S/long,Web/CloudOps,2,timesfm2,4.085063,0.057008,1.0,1.0,1.5
209,bizitobs_service/10S/long,Web/CloudOps,2,timesfm2,2.197155,0.061790,1.0,1.0,1.5

In [42]:
all_df[all_df["dataset"] == "bizitobs_application/10S/short"]

,dataset,domain,num_variates,model,MASE,Qloss,rank_MASE,rank_Qloss,Rank
0,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_base,5.533290,0.053958,3.0,3.0,4.5
35,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_small,5.406632,0.034530,2.0,2.0,3.0
102,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_mini,7.201342,0.072335,4.0,5.0,6.5
113,bizitobs_application/10S/short,Web/CloudOps,2,chronos_bolt_tiny,7.547395,0.069873,5.0,4.0,7.0
153,bizitobs_application/10S/short,Web/CloudOps,2,timesfm1,1391.842484,28.269510,6.0,6.0,9.0
188,bizitobs_application/10S/short,Web/CloudOps,2,timesfm2,1.560993,0.014470,1.0,1.0,1.5

In [43]:
dataset_names = all_df["dataset"].unique()

In [44]:
dataset_names

array(['bizitobs_application/10S/short',
       'bizitobs_application/10S/medium', 'bizitobs_application/10S/long',
       'bizitobs_l2c/5T/short', 'bizitobs_l2c/5T/medium',
       'bizitobs_l2c/5T/long', 'jena_weather/10T/short',
       'jena_weather/10T/medium', 'jena_weather/10T/long',
       'bizitobs_service/10S/short', 'bizitobs_service/10S/medium',
       'bizitobs_service/10S/long', 'bizitobs_l2c/H/short',
       'bizitobs_l2c/H/medium', 'bizitobs_l2c/H/long', 'solar/D/short',
       'bitbrains_fast_storage/5T/short',
       'bitbrains_fast_storage/5T/medium',
       'bitbrains_fast_storage/5T/long', 'bitbrains_rnd/H/short',
       'bitbrains_fast_storage/H/short', 'bitbrains_rnd/5T/short',
       'bitbrains_rnd/5T/medium', 'bitbrains_rnd/5T/long',
       'jena_weather/H/short', 'jena_weather/H/medium',
       'jena_weather/H/long', 'solar/W/short', 'jena_weather/D/short',
       'solar/H/short', 'solar/H/medium', 'solar/H/long',
       'solar/10T/short', 'solar/10T/medium', 'solar/10T/long'],
      dtype=object)

In [45]:
for name in dataset_names:
    #print(name)
    #print(all_df[all_df["dataset"] == name].to_latex(index=False, float_format="%.3f"))
    print(all_df[all_df["dataset"] == name][["model", "MASE", "rank_MASE", "Qloss", "rank_Qloss"]])
    print("\n")
    break

                  model         MASE  rank_MASE      Qloss  rank_Qloss
0     chronos_bolt_base     5.533290        3.0   0.053958         3.0
35   chronos_bolt_small     5.406632        2.0   0.034530         2.0
102   chronos_bolt_mini     7.201342        4.0   0.072335         5.0
113   chronos_bolt_tiny     7.547395        5.0   0.069873         4.0
153            timesfm1  1391.842484        6.0  28.269510         6.0
188            timesfm2     1.560993        1.0   0.014470         1.0

In [46]:
# new dataframe columns: "Chronos Bolt Base" "Chronos Bolt Small" "Chronos Bolt Mini" "Chronos Bolt Tiny" "TimesFM1" "TimesFM2"
# row: for each dataset name: 4 column (MAse, Qloss, rank_MASE, rank_Qloss, mean(rank_MASE, rank_Qloss))

def create_dataset_df(df, dataset_name):
    dataset_df = df[df["dataset"] == dataset_name]
    dataset_df = dataset_df.drop(columns=["dataset", "domain", "num_variates", "rank_MASE", "rank_Qloss"])
    dataset_df = dataset_df.rename(columns={"model": "Metric"})
    dataset_df = dataset_df.set_index("Metric")
    dataset_df = dataset_df.transpose()
    dataset_df = dataset_df.rename(columns={"chronos_bolt_base": "Chr.B.B",
                                            "chronos_bolt_small": "Chr.B.S",
                                            "chronos_bolt_mini": "Chr.B.M",
                                            "chronos-bolt-mini": "Chr.B.M",
                                            "chronos_bolt_tiny": "Chr.B.T",
                                            "timesfm1": "T.FM1",
                                            "timesfm2": "T.FM2"})
    dataset_df["Best"] = dataset_df.idxmin(axis=1) # add columns best
    return dataset_df

create_dataset_df(all_df, "bizitobs_application/10S/short")

Metric   Chr.B.B   Chr.B.S   Chr.B.M   Chr.B.T        T.FM1     T.FM2   Best
MASE    5.533290  5.406632  7.201342  7.547395  1391.842484  1.560993  T.FM2
Qloss   0.053958  0.034530  0.072335  0.069873    28.269510  0.014470  T.FM2
Rank    4.500000  3.000000  6.500000  7.000000     9.000000  1.500000  T.FM2

In [ ]:
final_df = pd.DataFrame()

for name in dataset_names:
    dataset_df = create_dataset_df(all_df, name)
    dataset_df["dataset, frequency, term"] = name.replace("/", ", ")

    dataset_df = dataset_df.reset_index()
    dataset_df = dataset_df[["dataset, frequency, term", "index", "Chr.B.B", "Chr.B.S", "Chr.B.M",
        "Chr.B.T", "T.FM1", "T.FM2", "Best"]]
    dataset_df = dataset_df.rename(columns={"index": "Metric"})
    dataset_df = dataset_df.rename_axis(index=" ")

    final_df = pd.concat([final_df, dataset_df], ignore_index=True)

In [49]:
final_df

Metric,"dataset, frequency, term",Metric,Chr.B.B,Chr.B.S,Chr.B.M,Chr.B.T,T.FM1,T.FM2,Best
0,"bizitobs_application, 10S, short",MASE,5.533290,5.406632,7.201342,7.547395,1391.842484,1.560993,T.FM2
1,"bizitobs_application, 10S, short",Qloss,0.053958,0.034530,0.072335,0.069873,28.269510,0.014470,T.FM2
2,"bizitobs_application, 10S, short",Rank,4.500000,3.000000,6.500000,7.000000,9.000000,1.500000,T.FM2
3,"bizitobs_application, 10S, medium",MASE,9.720338,9.146529,10.972406,11.416669,1199.144679,3.070241,T.FM2
4,"bizitobs_application, 10S, medium",Qloss,0.103502,0.084756,0.128187,0.115304,30.441737,0.032932,T.FM2
...,...,...,...,...,...,...,...,...,...
100,"solar, 10T, medium",Qloss,0.436094,0.452678,0.410149,0.494811,1120.471306,0.515808,Chr.B.M
101,"solar, 10T, medium",Rank,3.000000,4.500000,1.500000,6.000000,9.000000,7.500000,Chr.B.M
102,"solar, 10T, long",MASE,1.070707,1.188044,1.215812,1.288399,5320.462733,1.148564,Chr.B.B
103,"solar, 10T, long",Qloss,0.443021,0.496991,0.496322,0.534036,2088.004010,0.498298,Chr.B.B
104,"solar, 10T, long",Rank,1.500000,4.500000,5.000000,7.500000,9.000000,4.000000,Chr.B.B

In [50]:
final_df.to_csv("results/all_results.csv", index=False)

In [51]:
print(final_df.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{llrrrrrrl}
\toprule
dataset, frequency, term & Metric & Chr.B.B & Chr.B.S & Chr.B.M & Chr.B.T & T.FM1 & T.FM2 & Best \\
\midrule
bizitobs_application, 10S, short & MASE & 5.533 & 5.407 & 7.201 & 7.547 & 1391.842 & 1.561 & T.FM2 \\
bizitobs_application, 10S, short & Qloss & 0.054 & 0.035 & 0.072 & 0.070 & 28.270 & 0.014 & T.FM2 \\
bizitobs_application, 10S, short & Rank & 4.500 & 3.000 & 6.500 & 7.000 & 9.000 & 1.500 & T.FM2 \\
bizitobs_application, 10S, medium & MASE & 9.720 & 9.147 & 10.972 & 11.417 & 1199.145 & 3.070 & T.FM2 \\
bizitobs_application, 10S, medium & Qloss & 0.104 & 0.085 & 0.128 & 0.115 & 30.442 & 0.033 & T.FM2 \\
bizitobs_application, 10S, medium & Rank & 4.500 & 3.000 & 6.500 & 7.000 & 9.000 & 1.500 & T.FM2 \\
bizitobs_application, 10S, long & MASE & 10.484 & 9.648 & 12.444 & 12.835 & 148.467 & 4.085 & T.FM2 \\
bizitobs_application, 10S, long & Qloss & 0.109 & 0.092 & 0.150 & 0.137 & 0.500 & 0.057 & T.FM2 \\
bizitobs_application, 10S, long & Rank & 4.500 & 3.000 & 6.500 & 7.000 & 9.000 & 1.500 & T.FM2 \\
bizitobs_l2c, 5T, short & MASE & 0.278 & 0.272 & 0.274 & 0.284 & 36.429 & 0.312 & Chr.B.S \\
bizitobs_l2c, 5T, short & Qloss & 0.074 & 0.073 & 0.073 & 0.075 & 14.173 & 0.084 & Chr.B.M \\
bizitobs_l2c, 5T, short & Rank & 4.500 & 2.000 & 2.500 & 6.000 & 9.000 & 7.500 & Chr.B.S \\
bizitobs_l2c, 5T, medium & MASE & 0.878 & 0.920 & 0.886 & 0.840 & 891.926 & 1.023 & Chr.B.T \\
bizitobs_l2c, 5T, medium & Qloss & 0.445 & 0.462 & 0.451 & 0.420 & 432.168 & 0.528 & Chr.B.T \\
bizitobs_l2c, 5T, medium & Rank & 3.000 & 6.000 & 4.500 & 1.500 & 9.000 & 7.500 & Chr.B.T \\
bizitobs_l2c, 5T, long & MASE & 1.241 & 1.357 & 1.330 & 1.258 & 1250.171 & 1.236 & T.FM2 \\
bizitobs_l2c, 5T, long & Qloss & 0.738 & 0.790 & 0.775 & 0.722 & 633.187 & 0.748 & Chr.B.T \\
bizitobs_l2c, 5T, long & Rank & 3.000 & 7.500 & 6.000 & 3.500 & 9.000 & 2.500 & T.FM2 \\
jena_weather, 10T, short & MASE & 0.306 & 0.320 & 0.308 & 0.327 & 130.486 & 0.090 & T.FM2 \\
jena_weather, 10T, short & Qloss & 0.033 & 0.037 & 0.036 & 0.042 & 27.646 & 0.015 & T.FM2 \\
jena_weather, 10T, short & Rank & 3.000 & 6.000 & 4.500 & 7.500 & 9.000 & 1.500 & T.FM2 \\
jena_weather, 10T, medium & MASE & 0.610 & 0.646 & 0.635 & 0.667 & 135.438 & 0.190 & T.FM2 \\
jena_weather, 10T, medium & Qloss & 0.057 & 0.060 & 0.061 & 0.068 & 27.163 & 0.031 & T.FM2 \\
jena_weather, 10T, medium & Rank & 3.000 & 5.500 & 5.000 & 7.500 & 9.000 & 1.500 & T.FM2 \\
jena_weather, 10T, long & MASE & 0.657 & 0.703 & 0.682 & 0.729 & 174.226 & 0.231 & T.FM2 \\
jena_weather, 10T, long & Qloss & 0.064 & 0.063 & 0.061 & 0.079 & 31.855 & 0.035 & T.FM2 \\
jena_weather, 10T, long & Rank & 4.000 & 5.500 & 4.000 & 7.500 & 9.000 & 1.500 & T.FM2 \\
bizitobs_service, 10S, short & MASE & 3.299 & 2.871 & 3.955 & 4.186 & 2192.263 & 1.035 & T.FM2 \\
bizitobs_service, 10S, short & Qloss & 0.050 & 0.031 & 0.065 & 0.065 & 23.075 & 0.015 & T.FM2 \\
bizitobs_service, 10S, short & Rank & 4.500 & 3.000 & 6.500 & 7.000 & 9.000 & 1.500 & T.FM2 \\
bizitobs_service, 10S, medium & MASE & 4.958 & 4.618 & 5.850 & 5.972 & 2338.311 & 1.526 & T.FM2 \\
bizitobs_service, 10S, medium & Qloss & 0.095 & 0.081 & 0.119 & 0.113 & 36.344 & 0.038 & T.FM2 \\
bizitobs_service, 10S, medium & Rank & 4.500 & 3.000 & 6.500 & 7.000 & 9.000 & 1.500 & T.FM2 \\
bizitobs_service, 10S, long & MASE & 5.280 & 4.824 & 6.522 & 6.600 & 853.987 & 2.197 & T.FM2 \\
bizitobs_service, 10S, long & Qloss & 0.112 & 0.095 & 0.144 & 0.133 & 24.138 & 0.062 & T.FM2 \\
bizitobs_service, 10S, long & Rank & 4.500 & 3.000 & 6.500 & 7.000 & 9.000 & 1.500 & T.FM2 \\
bizitobs_l2c, H, short & MASE & 0.432 & 0.485 & 0.495 & 0.473 & 484.719 & 0.782 & Chr.B.B \\
bizitobs_l2c, H, short & Qloss & 0.189 & 0.204 & 0.208 & 0.203 & 258.594 & 0.345 & Chr.B.B \\
bizitobs_l2c, H, short & Rank & 1.500 & 4.500 & 6.000 & 3.000 & 9.000 & 7.500 & Chr.B.B \\
bizitobs_l2c, H, medium & MASE & 0.495 & 0.570 & 0.521 & 0.600 & 97.963 & 1.184 & Chr.B.B \\
bizitobs_l2c, H, medium & Qloss & 0.254 & 0.285 & 0.266 & 0.304 & 54.232 & 0.641 & Chr.B.B \\
bizitobs_l2c, H, medium & Rank & 1.500 & 4.500 & 3.000 & 6.000 & 9.000 & 7.500 & Chr.B.B \\
bizitobs_l2c, H, long & MASE & 0.556 & 0.612 & 0.611 & 0.606 & 2042.632 & 1.299 & Chr.B.B \\
bizitobs_l2c, H, long & Qloss & 0.278 & 0.295 & 0.296 & 0.306 & 1082.585 & 0.728 & Chr.B.B \\
bizitobs_l2c, H, long & Rank & 1.500 & 5.000 & 4.500 & 4.000 & 9.000 & 7.500 & Chr.B.B \\
solar, D, short & MASE & 0.982 & 0.995 & 0.981 & 0.993 & 4.354 & 0.971 & T.FM2 \\
solar, D, short & Qloss & 0.287 & 0.286 & 0.279 & 0.282 & 1.248 & 0.278 & T.FM2 \\
solar, D, short & Rank & 5.500 & 7.000 & 3.000 & 5.500 & 9.000 & 1.500 & T.FM2 \\
bitbrains_fast_storage, 5T, short & MASE & 0.745 & 0.770 & 0.808 & 0.864 & 293.558 & 0.731 & T.FM2 \\
bitbrains_fast_storage, 5T, short & Qloss & 0.454 & 0.435 & 0.434 & 0.420 & 131.061 & 0.447 & Chr.B.T \\
bitbrains_fast_storage, 5T, short & Rank & 4.500 & 4.500 & 5.000 & 5.500 & 9.000 & 3.000 & T.FM2 \\
bitbrains_fast_storage, 5T, medium & MASE & 1.048 & 1.060 & 1.070 & 1.115 & 273.811 & 1.075 & Chr.B.B \\
bitbrains_fast_storage, 5T, medium & Qloss & 0.755 & 0.867 & 0.828 & 0.814 & 189.791 & 0.886 & Chr.B.B \\
bitbrains_fast_storage, 5T, medium & Rank & 1.500 & 4.000 & 4.500 & 6.000 & 9.000 & 6.500 & Chr.B.B \\
bitbrains_fast_storage, 5T, long & MASE & 0.938 & 0.953 & 0.967 & 0.994 & 403.898 & 0.980 & Chr.B.B \\
bitbrains_fast_storage, 5T, long & Qloss & 0.748 & 0.753 & 0.749 & 0.750 & 164.589 & 0.909 & Chr.B.B \\
bitbrains_fast_storage, 5T, long & Rank & 1.500 & 4.000 & 4.000 & 6.500 & 9.000 & 6.500 & Chr.B.B \\
bitbrains_rnd, H, short & MASE & 5.897 & 5.880 & 5.882 & 5.951 & 364.946 & 5.987 & Chr.B.S \\
bitbrains_rnd, H, short & Qloss & 0.624 & 0.623 & 0.585 & 0.604 & 473.143 & 0.649 & Chr.B.M \\
bitbrains_rnd, H, short & Rank & 5.000 & 2.500 & 2.500 & 5.000 & 9.000 & 7.500 & Chr.B.S \\
bitbrains_fast_storage, H, short & MASE & 1.070 & 1.080 & 1.105 & 1.150 & 156.838 & 1.095 & Chr.B.B \\
bitbrains_fast_storage, H, short & Qloss & 0.774 & 0.589 & 0.596 & 0.593 & 47.147 & 0.689 & Chr.B.S \\
bitbrains_fast_storage, H, short & Rank & 3.500 & 2.500 & 5.500 & 6.000 & 9.000 & 5.000 & Chr.B.S \\
bitbrains_rnd, 5T, short & MASE & 1.705 & 1.720 & 1.740 & 1.755 & 208.669 & 1.769 & Chr.B.B \\
bitbrains_rnd, 5T, short & Qloss & 0.438 & 0.453 & 0.475 & 0.482 & 83.292 & 0.463 & Chr.B.B \\
bitbrains_rnd, 5T, short & Rank & 1.500 & 3.000 & 5.000 & 6.500 & 9.000 & 6.500 & Chr.B.B \\
bitbrains_rnd, 5T, medium & MASE & 4.449 & 4.474 & 4.492 & 4.519 & 437.821 & 4.596 & Chr.B.B \\
bitbrains_rnd, 5T, medium & Qloss & 0.605 & 0.792 & 0.716 & 0.697 & 139.018 & 0.736 & Chr.B.B \\
bitbrains_rnd, 5T, medium & Rank & 1.500 & 4.500 & 4.500 & 5.000 & 9.000 & 7.000 & Chr.B.B \\
bitbrains_rnd, 5T, long & MASE & 3.397 & 3.413 & 3.443 & 3.488 & 393.744 & 3.604 & Chr.B.B \\
bitbrains_rnd, 5T, long & Qloss & 0.756 & 0.756 & 0.750 & 0.917 & 178.114 & 0.714 & T.FM2 \\
bitbrains_rnd, 5T, long & Rank & 2.500 & 4.000 & 4.000 & 6.500 & 9.000 & 5.500 & Chr.B.B \\
jena_weather, H, short & MASE & 0.536 & 0.540 & 0.548 & 0.549 & 226.170 & 0.525 & T.FM2 \\
jena_weather, H, short & Qloss & 0.042 & 0.043 & 0.042 & 0.042 & 10.617 & 0.045 & Chr.B.B \\
jena_weather, H, short & Rank & 2.500 & 5.000 & 5.500 & 6.000 & 9.000 & 3.500 & Chr.B.B \\
jena_weather, H, medium & MASE & 0.747 & 0.721 & 0.729 & 0.789 & 185.596 & 0.864 & Chr.B.S \\
jena_weather, H, medium & Qloss & 0.054 & 0.058 & 0.059 & 0.058 & 16.609 & 0.066 & Chr.B.B \\
jena_weather, H, medium & Rank & 3.500 & 2.500 & 4.000 & 5.000 & 9.000 & 7.500 & Chr.B.S \\
jena_weather, H, long & MASE & 1.028 & 1.060 & 1.063 & 1.112 & 390.758 & 1.057 & Chr.B.B \\
jena_weather, H, long & Qloss & 0.062 & 0.068 & 0.067 & 0.066 & 24.919 & 0.068 & Chr.B.B \\
jena_weather, H, long & Rank & 1.500 & 5.000 & 5.500 & 6.000 & 9.000 & 4.500 & Chr.B.B \\
solar, W, short & MASE & 0.980 & 0.991 & 0.994 & 0.952 & 1.792 & 1.282 & Chr.B.T \\
solar, W, short & Qloss & 0.133 & 0.136 & 0.135 & 0.132 & 0.307 & 0.171 & Chr.B.T \\
solar, W, short & Rank & 3.000 & 5.000 & 5.500 & 1.500 & 9.000 & 7.500 & Chr.B.T \\
jena_weather, D, short & MASE & 1.051 & 1.028 & 1.034 & 1.024 & 97.927 & 1.243 & Chr.B.T \\
jena_weather, D, short & Qloss & 0.045 & 0.047 & 0.047 & 0.047 & 10.015 & 0.058 & Chr.B.B \\
jena_weather, D, short & Rank & 4.500 & 3.500 & 5.000 & 2.000 & 9.000 & 7.500 & Chr.B.T \\
solar, H, short & MASE & 0.813 & 0.852 & 0.860 & 0.867 & 8.797 & 1.022 & Chr.B.B \\
solar, H, short & Qloss & 0.298 & 0.303 & 0.311 & 0.313 & 4.876 & 0.407 & Chr.B.B \\
solar, H, short & Rank & 1.500 & 3.000 & 4.500 & 6.000 & 9.000 & 7.500 & Chr.B.B \\
solar, H, medium & MASE & 0.931 & 0.926 & 0.906 & 0.903 & 24.755 & 0.959 & Chr.B.T \\
solar, H, medium & Qloss & 0.368 & 0.356 & 0.352 & 0.342 & 10.359 & 0.376 & Chr.B.T \\
solar, H, medium & Rank & 6.000 & 4.500 & 3.000 & 1.500 & 9.000 & 7.500 & Chr.B.T \\
solar, H, long & MASE & 1.033 & 0.957 & 0.946 & 0.935 & 97.158 & 1.266 & Chr.B.T \\
solar, H, long & Qloss & 0.405 & 0.373 & 0.370 & 0.354 & 47.880 & 0.493 & Chr.B.T \\
solar, H, long & Rank & 6.000 & 4.500 & 3.000 & 1.500 & 9.000 & 7.500 & Chr.B.T \\
solar, 10T, short & MASE & 0.991 & 0.947 & 1.060 & 0.923 & 2959.781 & 1.477 & Chr.B.T \\
solar, 10T, short & Qloss & 0.511 & 0.498 & 0.563 & 0.488 & 1727.726 & 0.804 & Chr.B.T \\
solar, 10T, short & Rank & 4.500 & 3.000 & 6.000 & 1.500 & 9.000 & 7.500 & Chr.B.T \\
solar, 10T, medium & MASE & 1.027 & 1.065 & 0.978 & 1.157 & 2771.306 & 1.169 & Chr.B.M \\
solar, 10T, medium & Qloss & 0.436 & 0.453 & 0.410 & 0.495 & 1120.471 & 0.516 & Chr.B.M \\
solar, 10T, medium & Rank & 3.000 & 4.500 & 1.500 & 6.000 & 9.000 & 7.500 & Chr.B.M \\
solar, 10T, long & MASE & 1.071 & 1.188 & 1.216 & 1.288 & 5320.463 & 1.149 & Chr.B.B \\
solar, 10T, long & Qloss & 0.443 & 0.497 & 0.496 & 0.534 & 2088.004 & 0.498 & Chr.B.B \\
solar, 10T, long & Rank & 1.500 & 4.500 & 5.000 & 7.500 & 9.000 & 4.000 & Chr.B.B \\
\bottomrule
\end{tabular}