In [ ]:
import pandas as pd
from src.load_data import gift_data_to_df

### BizITObs - L2C, Service, and Application (Domain: Web/Workloads)

In [ ]:
bizitobs_l2c_5T = gift_data_to_df('bizitobs_l2c/5T')
bizitobs_l2c_H = gift_data_to_df('bizitobs_l2c/H')
bizitobs_application = gift_data_to_df('bizitobs_application')
bizitobs_service = gift_data_to_df('bizitobs_service')

In [17]:
bizitobs_l2c_5T.shape, bizitobs_l2c_H.shape, bizitobs_application.shape, bizitobs_service.shape

((40, 6), (12, 6), (30, 6), (630, 6))

In [20]:
bizitobs_l2c_5T.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
1,L2C,2021-02-16 16:00,"[[11.95, 11.95, 11.95, 11.95, 11.95, 11.95, 11...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
2,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
3,L2C,2021-02-16 20:00,"[[12.67, 12.67, 12.6, 12.6, 12.6, 12.6, 12.6, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
4,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test

In [21]:
bizitobs_l2c_H.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test
1,L2C,2021-02-08 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.07666667, 0.74, 2...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test
2,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test
3,L2C,2021-02-10 00:00,"[[19.583334, 19.655834, 20.144167, 20.63, 20.6...","[[0.0, 0.0, 0.16666667, 1.0, 1.0, 1.0, 1.0, 1....",H,test
4,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test

In [22]:
bizitobs_application.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,Robot-Shop,2023-03-13 10:01:50,"[[41.856575, 41.856575, 41.769497, 41.88786, 4...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
1,Robot-Shop,2023-03-14 08:04:10,"[[44.210148, 44.315212, 44.062885, 44.169506, ...","[[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...",10S,test
2,Robot-Shop,2023-03-13 10:01:50,"[[41.856575, 41.856575, 41.769497, 41.88786, 4...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
3,Robot-Shop,2023-03-14 08:14:10,"[[45.414776, 45.280277, 45.390102, 45.085144, ...","[[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...",10S,test
4,Robot-Shop,2023-03-13 10:01:50,"[[41.856575, 41.856575, 41.769497, 41.88786, 4...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test

In [23]:
bizitobs_service.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,MySQL@3306 on demo-mysql,2023-03-13 10:01:50,"[[0.64039606, 0.64039606, 0.6434574, 0.6433427...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,...",10S,test
1,MySQL@3306 on demo-mysql,2023-03-14 08:04:20,"[[0.61663806, 0.61601025, 0.61729956, 0.615611...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
2,MySQL@3306 on demo-mysql,2023-03-13 10:01:50,"[[0.64039606, 0.64039606, 0.6434574, 0.6433427...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,...",10S,test
3,MySQL@3306 on demo-mysql,2023-03-14 08:14:20,"[[0.62079376, 0.61588264, 0.615252, 0.6140578,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
4,MySQL@3306 on demo-mysql,2023-03-13 10:01:50,"[[0.64039606, 0.64039606, 0.6434574, 0.6433427...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,...",10S,test

### Bitbrains - Fast Storage and rnd (Domain: Web/Workloads)

In [ ]:
bitbrains_fast_storage_5T = gift_data_to_df('bitbrains_fast_storage/5T')
bitbrains_fast_storage_H = gift_data_to_df('bitbrains_fast_storage/H')

bitbrains_rnd_5T = gift_data_to_df('bitbrains_rnd/5T')
bitbrains_rnd_H = gift_data_to_df('bitbrains_rnd/H')

In [25]:
bitbrains_fast_storage_5T.shape, bitbrains_fast_storage_H.shape, bitbrains_rnd_5T.shape, bitbrains_rnd_H.shape

((45000, 6), (5000, 6), (18000, 6), (2000, 6))

### Jena Weather (Domain: Nature)

In [ ]:
jena_weather_10T = gift_data_to_df("jena_weather/10T")

In [4]:
jena_weather_10T.head()

,item_id,start,freq,target,set
0,item_0,2020-01-01 00:10,10T,"[[1008.89, 1008.76, 1008.66, 1008.64, 1008.61,...",test
1,item_0,2020-12-25 08:10,10T,"[[990.87, 991.0, 991.11, 991.33, 991.52, 991.6...",test
2,item_0,2020-01-01 00:10,10T,"[[1008.89, 1008.76, 1008.66, 1008.64, 1008.61,...",test
3,item_0,2020-12-25 16:10,10T,"[[994.22, 994.26, 994.4, 994.51, 994.68, 994.8...",test
4,item_0,2020-01-01 00:10,10T,"[[1008.89, 1008.76, 1008.66, 1008.64, 1008.61,...",test

In [5]:
jena_weather_10T.shape

(40, 5)

In [6]:
jena_weather_H = gift_data_to_df("jena_weather/H")

c:\Documenti\VS_Code\tesi\TSFM-ZeroShotEval\gift_eval\data.py:149: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  freq = norm_freq_str(to_offset(self.freq).name)
c:\Users\giuli\anaconda3\lib\site-packages\gluonts\dataset\common.py:263: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  return pd.Period(val, freq)

In [7]:
jena_weather_H.head()

,item_id,start,freq,target,set
0,item_0,2020-01-01 00:00,H,"[[1008.712, 1008.3567, 1008.3333, 1008.1667, 1...",test
1,item_0,2020-11-24 00:00,H,"[[1003.365, 1002.8617, 1002.42334, 1001.98334,...",test
2,item_0,2020-01-01 00:00,H,"[[1008.712, 1008.3567, 1008.3333, 1008.1667, 1...",test
3,item_0,2020-11-26 00:00,H,"[[995.12335, 995.1983, 995.2867, 995.185, 995....",test
4,item_0,2020-01-01 00:00,H,"[[1008.712, 1008.3567, 1008.3333, 1008.1667, 1...",test

In [8]:
jena_weather_H.shape

(38, 5)

In [9]:
jena_weather_D = gift_data_to_df("jena_weather/D")

In [10]:
jena_weather_D.head()

,item_id,start,freq,target,set
0,item_0,2020-01-01,D,"[[1006.9588, 1001.05096, 993.8029, 998.24426, ...",test
1,item_0,2020-11-02,D,"[[986.3354, 995.44116, 1004.14124, 1010.79205,...",test
2,item_0,2020-01-01,D,"[[1006.9588, 1001.05096, 993.8029, 998.24426, ...",test
3,item_0,2020-12-02,D,"[[990.6707, 978.89685, 966.8434, 972.71375, 97...",test

In [15]:
jena_weather_D["target"][0].shape

(21, 306)

In [11]:
jena_weather_D.shape

(4, 5)

### Solar (Domain: Energy)

In [ ]:
solar_10T = gift_data_to_df("solar/10T")
solar_H = gift_data_to_df("solar/H")
solar_D = gift_data_to_df("solar/D")
solar_W = gift_data_to_df("solar/W")

In [27]:
solar_10T.shape, solar_H.shape, solar_D.shape, solar_W.shape

((5480, 5), (5206, 5), (548, 5), (274, 5))

#### Web/Workloads
'bizitobs_l2c/5T',
'bizitobs_l2c/H',

'bizitobs_application',
'bizitobs_service',

'bitbrains_fast_storage/5T',
'bitbrains_fast_storage/H',

'bitbrains_rnd/5T'
'bitbrains_rnd/H',

#### Energy
'solar/H',
'solar/10T',
'solar/D',
'solar/W',

#### Nature
'jena_weather/10T',
'jena_weather/H',
'jena_weather/D',