In [ ]:
import pandas as pd
from src.load_data import gift_data_to_df

### BizITObs - L2C, Service, and Application (Domain: Web/Workloads)

In [ ]:
bizitobs_l2c_5T = gift_data_to_df('bizitobs_l2c/5T')
bizitobs_l2c_H = gift_data_to_df('bizitobs_l2c/H')
bizitobs_application = gift_data_to_df('bizitobs_application')
bizitobs_service = gift_data_to_df('bizitobs_service')

In [17]:
bizitobs_l2c_5T.shape, bizitobs_l2c_H.shape, bizitobs_application.shape, bizitobs_service.shape

((40, 6), (12, 6), (30, 6), (630, 6))

In [20]:
bizitobs_l2c_5T.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
1,L2C,2021-02-16 16:00,"[[11.95, 11.95, 11.95, 11.95, 11.95, 11.95, 11...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
2,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
3,L2C,2021-02-16 20:00,"[[12.67, 12.67, 12.6, 12.6, 12.6, 12.6, 12.6, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test
4,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5T,test

In [21]:
bizitobs_l2c_H.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test
1,L2C,2021-02-08 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.07666667, 0.74, 2...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test
2,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test
3,L2C,2021-02-10 00:00,"[[19.583334, 19.655834, 20.144167, 20.63, 20.6...","[[0.0, 0.0, 0.16666667, 1.0, 1.0, 1.0, 1.0, 1....",H,test
4,L2C,2020-11-01 00:00,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",H,test

In [22]:
bizitobs_application.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,Robot-Shop,2023-03-13 10:01:50,"[[41.856575, 41.856575, 41.769497, 41.88786, 4...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
1,Robot-Shop,2023-03-14 08:04:10,"[[44.210148, 44.315212, 44.062885, 44.169506, ...","[[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...",10S,test
2,Robot-Shop,2023-03-13 10:01:50,"[[41.856575, 41.856575, 41.769497, 41.88786, 4...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
3,Robot-Shop,2023-03-14 08:14:10,"[[45.414776, 45.280277, 45.390102, 45.085144, ...","[[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...",10S,test
4,Robot-Shop,2023-03-13 10:01:50,"[[41.856575, 41.856575, 41.769497, 41.88786, 4...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test

In [23]:
bizitobs_service.head()

,item_id,start,target,past_feat_dynamic_real,freq,set
0,MySQL@3306 on demo-mysql,2023-03-13 10:01:50,"[[0.64039606, 0.64039606, 0.6434574, 0.6433427...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,...",10S,test
1,MySQL@3306 on demo-mysql,2023-03-14 08:04:20,"[[0.61663806, 0.61601025, 0.61729956, 0.615611...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
2,MySQL@3306 on demo-mysql,2023-03-13 10:01:50,"[[0.64039606, 0.64039606, 0.6434574, 0.6433427...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,...",10S,test
3,MySQL@3306 on demo-mysql,2023-03-14 08:14:20,"[[0.62079376, 0.61588264, 0.615252, 0.6140578,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",10S,test
4,MySQL@3306 on demo-mysql,2023-03-13 10:01:50,"[[0.64039606, 0.64039606, 0.6434574, 0.6433427...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,...",10S,test

### Bitbrains - Fast Storage and rnd (Domain: Web/Workloads)

In [ ]:
bitbrains_fast_storage_5T = gift_data_to_df('bitbrains_fast_storage/5T')
bitbrains_fast_storage_H = gift_data_to_df('bitbrains_fast_storage/H')

bitbrains_rnd_5T = gift_data_to_df('bitbrains_rnd/5T')
bitbrains_rnd_H = gift_data_to_df('bitbrains_rnd/H')

In [25]:
bitbrains_fast_storage_5T.shape, bitbrains_fast_storage_H.shape, bitbrains_rnd_5T.shape, bitbrains_rnd_H.shape

((45000, 6), (5000, 6), (18000, 6), (2000, 6))

### Jena Weather (Domain: Nature)

In [ ]:
jena_weather_10T = gift_data_to_df("jena_weather/10T")

In [4]:
jena_weather_10T.head()

,item_id,start,freq,target,set
0,item_0,2020-01-01 00:10,10T,"[[1008.89, 1008.76, 1008.66, 1008.64, 1008.61,...",test
1,item_0,2020-12-25 08:10,10T,"[[990.87, 991.0, 991.11, 991.33, 991.52, 991.6...",test
2,item_0,2020-01-01 00:10,10T,"[[1008.89, 1008.76, 1008.66, 1008.64, 1008.61,...",test
3,item_0,2020-12-25 16:10,10T,"[[994.22, 994.26, 994.4, 994.51, 994.68, 994.8...",test
4,item_0,2020-01-01 00:10,10T,"[[1008.89, 1008.76, 1008.66, 1008.64, 1008.61,...",test

In [5]:
jena_weather_10T.shape

(40, 5)

In [6]:
jena_weather_H = gift_data_to_df("jena_weather/H")

c:\Documenti\VS_Code\tesi\TSFM-ZeroShotEval\gift_eval\data.py:149: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  freq = norm_freq_str(to_offset(self.freq).name)
c:\Users\giuli\anaconda3\lib\site-packages\gluonts\dataset\common.py:263: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  return pd.Period(val, freq)

In [7]:
jena_weather_H.head()

,item_id,start,freq,target,set
0,item_0,2020-01-01 00:00,H,"[[1008.712, 1008.3567, 1008.3333, 1008.1667, 1...",test
1,item_0,2020-11-24 00:00,H,"[[1003.365, 1002.8617, 1002.42334, 1001.98334,...",test
2,item_0,2020-01-01 00:00,H,"[[1008.712, 1008.3567, 1008.3333, 1008.1667, 1...",test
3,item_0,2020-11-26 00:00,H,"[[995.12335, 995.1983, 995.2867, 995.185, 995....",test
4,item_0,2020-01-01 00:00,H,"[[1008.712, 1008.3567, 1008.3333, 1008.1667, 1...",test

In [8]:
jena_weather_H.shape

(38, 5)

In [9]:
jena_weather_D = gift_data_to_df("jena_weather/D")

In [10]:
jena_weather_D.head()

,item_id,start,freq,target,set
0,item_0,2020-01-01,D,"[[1006.9588, 1001.05096, 993.8029, 998.24426, ...",test
1,item_0,2020-11-02,D,"[[986.3354, 995.44116, 1004.14124, 1010.79205,...",test
2,item_0,2020-01-01,D,"[[1006.9588, 1001.05096, 993.8029, 998.24426, ...",test
3,item_0,2020-12-02,D,"[[990.6707, 978.89685, 966.8434, 972.71375, 97...",test

In [15]:
jena_weather_D["target"][0].shape

(21, 306)

In [11]:
jena_weather_D.shape

(4, 5)

### Solar (Domain: Energy)

In [ ]:
solar_10T = gift_data_to_df("solar/10T")
solar_H = gift_data_to_df("solar/H")
solar_D = gift_data_to_df("solar/D")
solar_W = gift_data_to_df("solar/W")

In [27]:
solar_10T.shape, solar_H.shape, solar_D.shape, solar_W.shape

((5480, 5), (5206, 5), (548, 5), (274, 5))

#### Web/Workloads
'bizitobs_l2c/5T',
'bizitobs_l2c/H',

'bizitobs_application',
'bizitobs_service',

'bitbrains_fast_storage/5T',
'bitbrains_fast_storage/H',

'bitbrains_rnd/5T'
'bitbrains_rnd/H',

#### Energy
'solar/H',
'solar/10T',
'solar/D',
'solar/W',

#### Nature
'jena_weather/10T',
'jena_weather/H',
'jena_weather/D',

### Datasets

In [60]:
dataset = pd.read_csv("results/timesfm/timesfm2_results.csv")[["dataset", "domain", "num_variates"]]

In [67]:
dataset["num_samples"] = dataset["dataset"].map({
    "bitbrains_fast_storage/5T/short": bitbrains_fast_storage_5T.shape[0],
    "bitbrains_fast_storage/5T/medium": bitbrains_fast_storage_5T.shape[0],
    "bitbrains_fast_storage/5T/long": bitbrains_fast_storage_5T.shape[0],
    "bitbrains_fast_storage/H/short": bitbrains_fast_storage_H.shape[0],
    "bitbrains_fast_storage/H/medium": bitbrains_fast_storage_H.shape[0],
    "bitbrains_fast_storage/H/long": bitbrains_fast_storage_H.shape[0],

    "bitbrains_rnd/5T/short": bitbrains_rnd_5T.shape[0],
    "bitbrains_rnd/5T/medium": bitbrains_rnd_5T.shape[0],
    "bitbrains_rnd/5T/long": bitbrains_rnd_5T.shape[0],
    "bitbrains_rnd/H/short": bitbrains_rnd_H.shape[0],
    "bitbrains_rnd/H/medium": bitbrains_rnd_H.shape[0],
    "bitbrains_rnd/H/long": bitbrains_rnd_H.shape[0],

    "bizitobs_l2c/5T/short": bizitobs_l2c_5T.shape[0],
    "bizitobs_l2c/5T/medium": bizitobs_l2c_5T.shape[0],
    "bizitobs_l2c/5T/long": bizitobs_l2c_5T.shape[0],
    "bizitobs_l2c/H/short": bizitobs_l2c_H.shape[0],
    "bizitobs_l2c/H/medium": bizitobs_l2c_H.shape[0],
    "bizitobs_l2c/H/long": bizitobs_l2c_H.shape[0],

    "bizitobs_application/10S/short": bizitobs_application.shape[0],
    "bizitobs_application/10S/medium": bizitobs_application.shape[0],
    "bizitobs_application/10S/long": bizitobs_application.shape[0],
    "bizitobs_service/10S/short": bizitobs_service.shape[0],
    "bizitobs_service/10S/medium": bizitobs_service.shape[0],
    "bizitobs_service/10S/long": bizitobs_service.shape[0],

    "jena_weather/10T/short": jena_weather_10T.shape[0],
    "jena_weather/10T/medium": jena_weather_10T.shape[0],
    "jena_weather/10T/long": jena_weather_10T.shape[0],
    "jena_weather/H/short": jena_weather_H.shape[0],
    "jena_weather/H/medium": jena_weather_H.shape[0],
    "jena_weather/H/long": jena_weather_H.shape[0],
    "jena_weather/D/short": jena_weather_D.shape[0],
    "jena_weather/D/medium": jena_weather_D.shape[0],
    "jena_weather/D/long": jena_weather_D.shape[0],

    "solar/10T/short": solar_10T.shape[0],
    "solar/10T/medium": solar_10T.shape[0],
    "solar/10T/long": solar_10T.shape[0],
    "solar/H/short": solar_H.shape[0],
    "solar/H/medium": solar_H.shape[0],
    "solar/H/long": solar_H.shape[0],
    "solar/D/short": solar_D.shape[0],
    "solar/D/medium": solar_D.shape[0],
    "solar/D/long": solar_D.shape[0],
    "solar/W/short": solar_W.shape[0],
    "solar/W/medium": solar_W.shape[0],
    "solar/W/long": solar_W.shape[0]
})

In [71]:
dataset.head()

,dataset,domain,num_variates,num_samples,frequency,term
0,solar,Energy,1,274,W,short
1,jena_weather,Nature,21,4,D,short
2,solar,Energy,1,548,D,short
3,bitbrains_fast_storage,Web/CloudOps,2,45000,5T,short
4,bitbrains_fast_storage,Web/CloudOps,2,5000,H,short

In [69]:
dataset[["dataset", "frequency", "term"]] = dataset["dataset"].str.split("/", expand=True)

In [70]:
pretty_names = {
    "jena_weather": "Jena Weather",
    "solar": "Solar",
    "bitbrains_fast_storage": "Bitbrains Fast Storage",
    "bitbrains_rnd": "Bitbrains RND",
    "bizitobs_l2c": "Bizitobs L2C",
    "bizitobs_application": "Bizitobs Application",
    "bizitobs_service": "Bizitobs Service",
}

In [72]:
# organize by domain and dataset
dataset = dataset.sort_values(["domain", "dataset", "frequency"])
dataset = dataset.reset_index(drop=True)

dataset["dataset"] = dataset["dataset"].map(pretty_names)
dataset["frequency"] = dataset["frequency"].map({
    "5T": "5 min",
    "H": "1 hour",
    "D": "1 day",
    "W": "1 week",
    "10T": "10 min",
    "10S": "10 sec",
})

dataset.head()

  dataset  domain  num_variates  num_samples frequency    term
0   Solar  Energy             1         5480    10 min   short
1   Solar  Energy             1         5480    10 min  medium
2   Solar  Energy             1         5480    10 min    long
3   Solar  Energy             1          548     1 day   short
4   Solar  Energy             1         5206    1 hour   short

In [73]:
dataset.to_csv("results/datasets.csv", index=False)

In [74]:
dataset

,dataset,domain,num_variates,num_samples,frequency,term
0,Solar,Energy,1,5480,10 min,short
1,Solar,Energy,1,5480,10 min,medium
2,Solar,Energy,1,5480,10 min,long
3,Solar,Energy,1,548,1 day,short
4,Solar,Energy,1,5206,1 hour,short
5,Solar,Energy,1,5206,1 hour,medium
6,Solar,Energy,1,5206,1 hour,long
7,Solar,Energy,1,274,1 week,short
8,Jena Weather,Nature,21,40,10 min,short
9,Jena Weather,Nature,21,40,10 min,medium
10,Jena Weather,Nature,21,40,10 min,long
11,Jena Weather,Nature,21,4,1 day,short
12,Jena Weather,Nature,21,38,1 hour,short
13,Jena Weather,Nature,21,38,1 hour,medium
14,Jena Weather,Nature,21,38,1 hour,long
15,Bitbrains Fast Storage,Web/CloudOps,2,45000,5 min,short
16,Bitbrains Fast Storage,Web/CloudOps,2,45000,5 min,medium
17,Bitbrains Fast Storage,Web/CloudOps,2,45000,5 min,long
18,Bitbrains Fast Storage,Web/CloudOps,2,5000,1 hour,short
19,Bitbrains RND,Web/CloudOps,2,18000,5 min,short
20,Bitbrains RND,Web/CloudOps,2,18000,5 min,medium
21,Bitbrains RND,Web/CloudOps,2,18000,5 min,long
22,Bitbrains RND,Web/CloudOps,2,2000,1 hour,short
23,Bizitobs Application,Web/CloudOps,2,30,10 sec,short
24,Bizitobs Application,Web/CloudOps,2,30,10 sec,medium
25,Bizitobs Application,Web/CloudOps,2,30,10 sec,long
26,Bizitobs L2C,Web/CloudOps,7,40,5 min,short
27,Bizitobs L2C,Web/CloudOps,7,40,5 min,medium
28,Bizitobs L2C,Web/CloudOps,7,40,5 min,long
29,Bizitobs L2C,Web/CloudOps,7,12,1 hour,short
30,Bizitobs L2C,Web/CloudOps,7,12,1 hour,medium
31,Bizitobs L2C,Web/CloudOps,7,12,1 hour,long
32,Bizitobs Service,Web/CloudOps,2,630,10 sec,short
33,Bizitobs Service,Web/CloudOps,2,630,10 sec,medium
34,Bizitobs Service,Web/CloudOps,2,630,10 sec,long