In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("time_inference_results_moirai.csv")
df

,model,dataset,trial,inference_time,domain,num_variates,prediction_length,frequency
0,moirai_small,exchange_rate/short,0,0.000008,Econ/Fin,1,8,D
1,moirai_small,exchange_rate/short,1,0.000006,Econ/Fin,1,8,D
2,moirai_small,exchange_rate/short,2,0.000007,Econ/Fin,1,8,D
3,moirai_small,exchange_rate/short,3,0.000007,Econ/Fin,1,8,D
4,moirai_small,exchange_rate/short,4,0.000006,Econ/Fin,1,8,D
...,...,...,...,...,...,...,...,...
1315,moirai_large,jena_weather/H/long,5,0.001194,Nature,21,720,H
1316,moirai_large,jena_weather/H/long,6,0.001177,Nature,21,720,H
1317,moirai_large,jena_weather/H/long,7,0.001172,Nature,21,720,H
1318,moirai_large,jena_weather/H/long,8,0.001544,Nature,21,720,H
1319,moirai_large,jena_weather/H/long,9,0.001198,Nature,21,720,H