In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("results/inference_time.csv")
df

,model,dataset,trial,inference_time,domain,num_variates,prediction_length,frequency
0,chronos_bolt_tiny,exchange_rate/short,0,0.038261,Econ/Fin,1,8,D
1,chronos_bolt_tiny,exchange_rate/short,1,0.044538,Econ/Fin,1,8,D
2,chronos_bolt_tiny,exchange_rate/short,2,0.038114,Econ/Fin,1,8,D
3,chronos_bolt_tiny,exchange_rate/short,3,0.040268,Econ/Fin,1,8,D
4,chronos_bolt_tiny,exchange_rate/short,4,0.039070,Econ/Fin,1,8,D
...,...,...,...,...,...,...,...,...
3515,timesfm1,jena_weather/H/long,5,0.845223,Nature,21,720,H
3516,timesfm1,jena_weather/H/long,6,0.878958,Nature,21,720,H
3517,timesfm1,jena_weather/H/long,7,0.850572,Nature,21,720,H
3518,timesfm1,jena_weather/H/long,8,0.858287,Nature,21,720,H
3519,timesfm1,jena_weather/H/long,9,0.866849,Nature,21,720,H